h2 Välkommen, Admin!

h3 Här kan du hantera alla användare och deras projekt.

a href="/admin/users" class="button" Hantera användare
br
a href="/admin/user_projects" class="button" Gå till Projekt
br
a href="/logout" class="button" Logga ut
